template(name='contact')
  .container-fluid
    .row-fluid
      #pic
        img(src='{{img}}')
      #title
        #name {{name}}
        #info {{info}}
      #hidder
    .row-fluid
      #msglist
        {{msgList}}
    .row-fluid
      #auth
        {{loginButtons}}
    .row-fluid
      #msg
        textarea {{msg}}
        button.btn OK