template(name='contact')
  .contact
    #auth
    {{loginButtons}}
    #msgList
      {{> msgList}}
    #msg
      textarea#msg {{msg}}

template(name='msgList')
  ul {{#each msgs}}
    li(class='{{owner}}') {{text}}
      .info{{date}}
  {{/each}}
