@import 'corner';
@import 'shadow';
$xSize: 320px;
$ySize: 320px;
$shColor:#bfbffb;
body{
  margin: 0;
  padding: 0;
}
.contact{
  width: $xSize;
  margin: 0 4px;
  #msgList{
    @include corner(8px);
    margin: 4px 0;
    float:left;
    width: $xSize;
    max-height:320px;
    overflow: auto;
    @include shadow(#bfbfbf);
    ul{
      list-style-type: none;
      padding:4px;
      // Информация: время
      .info{
        @include corner(8px);
        @include shadow(#bfbfbf);
        font-size: 70%;
      }
      // ввод имени
      input#name{
        width: $xSize - 16;
        font-size: 16px;
        @include corner(4px);
        @include shadow(#bfbfbf);
      }
      // желтый балон
      li.owner, li.system{
        font-size: 16px;
        margin: 4px;
        padding:8px;
        width: 80%;
        background-color: #d9f2fe;
        @include corner(8px);
        @include shadow(#bfbfbf);
      }
      // синий балон
      li.owner{
        float:right;
        background-color: #fff9da;
      }
    }
  }
  // сообщение
  #msg{
    width: $xSize - 4;
    textarea#msg{
      font-size: 16px;
      @include corner(8px);
      @include shadow(#bfbfbf);
      width: 100%;
      line-height: 20px;
      height: 40px;
    }
  }
}


