body {
  margin: 0;
  padding: 4px; }

.contact {
  width: 320px; }
  .contact #auth {
    margin: 4px; }
  .contact #msgList {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    margin: 4px 0;
    float: left;
    width: 320px;
    max-height: 320px;
    overflow: auto;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: 0 0 4px #bfbfbf; }
    .contact #msgList ul {
      list-style-type: none;
      padding: 4px; }
      .contact #msgList ul .info {
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #bfbfbf;
        -webkit-box-shadow: 0 0 4px #bfbfbf;
        font-size: 70%; }
      .contact #msgList ul li {
        margin: 4px;
        padding: 8px;
        width: 80%;
        background-color: #d9f2fe;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #bfbfbf;
        -webkit-box-shadow: 0 0 4px #bfbfbf; }
      .contact #msgList ul li.owner {
        float: right;
        background-color: #fff9da; }
  .contact #msg {
    width: 316px; }
    .contact #msg textarea#msg {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;
      width: 100%;
      line-height: 20px;
      height: 40px; }
