@import 'corner';
@import 'shadow';
$xSize: 320px;
$ySize: 320px;
$shColor:#bfbffb;
body{
  margin: 0;
  padding: 4px;
}
.contact{
  width: $xSize;
  #auth{
    margin: 4px;
  }

  #msgList{
    @include corner(8px);
    margin: 4px 0;
    float:left;
    width: $xSize;
    max-height:320px;
    overflow: auto;
    @include shadow(#bfbfbf);
    ul{
      list-style-type: none;
      padding:4px;
      .info{
        // margin-left: -16px;
        // margin-top: -16px;
        @include corner(8px);
        @include shadow(#bfbfbf);
        font-size: 70%;
      }
      li{
        margin: 4px;
        padding:8px;
        width: 80%;
        background-color: #d9f2fe;
        @include corner(8px);
        @include shadow(#bfbfbf);
      }
      li.owner{
        float:right;
        background-color: #fff9da;
      }
    }
  }
  #msg{
    width: $xSize - 4;
    textarea#msg{
      @include corner(8px);
      width: 100%;
      line-height: 20px;
      height: 40px;
    }
  }
}


